* {

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
}

body {
    background-color: #202224;
    color: #E34234;
    font-family: 'IBM Plex Mono', monospace;
}

#White-Text {
    color: white;
}

#Vermilion-text {
    color: #E34234;
}